<article>
  <div>
    <div>
      <div>
        <a href="/blog/{{id}}">{{title}}</a>
      </div>
      <div>
        <p>
          Posted by
          <b>{{user.username}} </b>
          on
          <b>{{formatDate created_at}}</b>
        </p>
      </div>
    </div>
    <div>
      <p>{{content}}</p>
    </div>
  </div>
</article>